<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans[
        <!ELEMENT beans (bean*)>
        <!ELEMENT bean (property*)>
        <!ELEMENT property (#PCDATA)>

        <!ATTLIST bean id ID #REQUIRED>
        <!ATTLIST bean class CDATA #IMPLIED>

        <!ATTLIST property name CDATA #IMPLIED>
        <!ATTLIST property ref IDREF #IMPLIED>

        ]>
<beans>

    <bean id="userBasicDAO" class="com.zx.QQZone.DAO.impl.UserBaseDAOImpl"/>

    <bean id="topicDAO" class="com.zx.QQZone.DAO.impl.TopicDAOImpl"/>

    <bean id="userBasicService" class="com.zx.QQZone.Service.Impl.UserBasicServiceImpl">
        <property name="userBasicDAO" ref="userBasicDAO"/>
    </bean>

    <bean id="topicService" class="com.zx.QQZone.Service.Impl.TopicServiceImpl">
        <property name="topicDAO" ref="topicDAO"/>
    </bean>

    <bean id="user" class="com.zx.QQZone.controller.UserController">
        <property name="userBasicService" ref="userBasicService"/>
        <property name="topicService" ref="topicService"/>
    </bean>
</beans>